<!-- Example Two -->


<div *ngIf="data; then usersFoundTemplate; else noUsersTemplate"> 
</div> 
<ng-template #usersFoundTemplate>
  <div *ngFor="let datas of data">

    <div [ngSwitch]="datas.gender"> 
       <div class="maleBoxs" *ngSwitchCase="'m'">
         {{datas.name}}
        </div>
        <div class="femaleBoxs" *ngSwitchCase="'f'">
          {{datas.name}}
         </div>
         <div class="noGenders" *ngSwitchDefault>
          {{datas.name}}
         </div>
    </div>
    </div>
</ng-template>


<ng-template #noUsersTemplate>
  <div style="background-color: brown;">
    No User Found Using no no User Tamplate
  </div>
  </ng-template> 